@media screen and (max-width: 1199px) {
  .shop {
    max-width: 220px;
    min-width: 220px;
    padding: 5px;
    img {
      width: 45px;
      height: 45px;
    }
  }
  .interesting {
    .cookie-3 {
      display: none;
    }
  }
  .slider {
    #slider {
      .owl-stage {
        left: unset;
        .owl-item {
          //max-width: none!important;
        }
      }
    }
  }
  .receipt_modal--overlay {
    .modal_title {
      font-size: 32px;
      line-height: 48px;
    }
  }
  .slider #slider {
    .owl-stage {
      .owl-item {
        max-width: 300px!important;
      }
    }
    .item {
      img {
        min-height: 300px;
        max-width: 300px;
        max-height: 300px;
      }
    }
  }

}