@media screen and (max-width: 991px) {
  .contact_page--contact {
    .double_block {
      flex-direction: column;
      margin-bottom: 0;
      & .contact {
        margin-bottom: 32px;
      }
    }
  }
  .form_section .double {
    flex-direction: column;
    align-items: flex-start;
    .send {
      width: 100%;
      margin-bottom: 20px;
    }
    p {
    font-size: 14px;
    }
  }
  .product_title {
    .name {
      font-size: 35px;
      line-height: 40px;
    }
    .desc {
      font-size: 16px;
      line-height: 24px;
    }
    .links_shop {
      flex-direction: column;
      width: 100%;
      & .shop:first-child {
        margin-right: 0;
      }
    }
  }
  .shop {
    width: 100%;
    max-width: none;
    margin-bottom: 16px;
  }
  .descr {
    .descr_block {
      padding-right: 0;
      padding-bottom: 50px;
    }
    .descr_image {
      max-width: none;
    }
  }
  .information {
  .cookie-2 {
    display: none;
  }
}
  .buy_online {
    .buy {
      text-align: center;
    }
  }
  .shop_block {
    &--content {
      flex-direction: column;
      .news_tab {
        width: 100%;
        &--head {
          .tabs {
            justify-content: space-between;
          }
        }
        &--body {
          max-height: 435px;
          min-height: 435px;
        }
      }
      .map {
        height: 100%;
        width: 100%;
        min-height: 300px;
        max-height: 300px;
        flex: none;
      }
    }
  }
  .intro {

    &_main {
      align-items: flex-start;
      max-width: 450px;
      max-height: 450px;
      min-height: 450px;
      //padding-top: 10%;
      .circle_border {
        display: none;
      }
      .middle_border {
        display: none;
      }
      .item {
        max-width: 150px;
        height: 324px;
        .pasta{
          max-width: 150px;
          min-height: 324px;
        }
        .shadow {
          min-width: 222px;
          bottom: 34px;
        }
      }
    }

    &_title {
      top: 90%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      .name {
        font-size: 35px;
        line-height: 44px;
      }
      .desc {
        font-size: 16px;
        line-height: 26px;
      }
      .detail {
        width: 100%;
      }
    }

    &_overlay {
      .cookie-2 {
        display: none!important;
      }
      .cookie-1 {
        top: 120px;
        left: 50px;
      }
    }
    .cookie-4 {
      display: none!important;
    }
    .cookie-3 {
      top: 350px;
    }
  }
  .main_footer {
    display: none;
  }
  .circle_border {
    display: none;
  }
  .alert-modal__body p {
    font-size: 25px;
  }
  .receipt_modal--overlay .receipt_list {
    margin-bottom: 50px;
  }
}