@font-face {
  font-family: 'Gilroy R';
  src: url('../fonts/Gilroy-Regular.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy M';
  src: url('../fonts/Gilroy-Medium.ttf') format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy SemiBold';
  src: url('../fonts/Gilroy-Semibold.ttf') format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy Bold';
  src: url('../fonts/Gilroy-Bold.ttf') format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy ExtraBold';
  src: url('../fonts/Gilroy-Extrabold.ttf') format("truetype");
  font-weight: 800;
  font-style: normal;
}
