
# BEGIN BackUpWordPress
# Строки между `BEGIN BackUpWordPress` и `END BackUpWordPress` были созданы автоматически.
# Они могут быть изменены только фильтрами WordPress.
# Все изменения между этими отметками будут перезаписаны.
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=ec00f17f6ed68c6ce419b6fdf4a8f3df
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress