.contact_page {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &--contact {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    h3 {
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 56px;
      color: #171219;
      margin-bottom: 36px;
      font-family: 'Gilroy Bold';
    }
    .double_block {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      width: 100%;
      margin-bottom: 36px;

      & .contact:first-child {
        margin-right: 90px;
      }

    }
    .contact {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      h4 {
        font-family: 'Gilroy M';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        color: #1F1F1F;
        margin-bottom: 6px;
      }
      .addresses,
      .link {
        font-family: 'Gilroy R';
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
        color: #1F1F1F;
      }
    }
  }

}