.product {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  //background-color: #EADFC9;

  .back {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 12;
    .arrow {
      width: 56px;
      height: 56px;
      min-width: 56px;
      border: 1px solid rgba(23, 18, 25, 0.1);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 16px;
      img {
        width: 24px;
        height: 24px;
        object-fit: contain;
      }
    }
    p {
      font-family: 'Gilroy M';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0.01em;
      color: #171219;
    }

  }

  &_main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    .item {
      width: 100%;
      max-width: 250px;
      height: 424px;
      position: relative;

      .shadow {
        position: absolute;
        bottom: 0;
        width: 100%;
        min-width: 345px;
        left: 50%;
        object-fit: cover;
        z-index: 1;
        transform: translateX(-50%);
      }

      .pasta {
        width: 100%;
        max-width: 250px;
        //height: 100%;
        min-height: 424px;
        object-fit: contain;
        position: relative;
        z-index: 2;

      }
    }
  }

  &_title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    left: 50px;
    top: 50%;
    max-width: 385px;
    transform: translateY(-50%);
    margin-top: -140px;
    z-index: 15;

    .name {
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 46px;
      color: #171219;
      margin-bottom: 24px;
      font-family: 'Gilroy Bold';
    }

    .desc {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0.01em;
      color: #171219;
      font-family: 'Gilroy R';
      margin-bottom: 24px;
      padding-bottom: 0;
    }
    .links_shop {
      display: flex;
      align-items: center;
      & .shop:first-child {
        margin-right: 24px;
      }
    }

    .detail {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.01em;
      color: #FFFFFF;
      background: #ABA393;
      border-radius: 1000px;
      padding: 14px 24px;
    }

  }

  &_overlay {
    //background-image: url("../../media/image/bg2.png");
    //background-size: contain;
    //background-position: center;
    width: 100%;
    min-height: 100vh;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;

    .cookie {
      object-fit: cover;
      object-position: center;
      position: absolute;
    }

    .cookie-1 {
      width: 232.09px;
      height: 210.64px;
      top: 20px;
      left: 225px;
    }

    .cookie-2 {
      width: 124px;
      height: 116.67px;
      bottom: 95px;
      right: -55px;
    }

    .cookie-3 {
      width: 248px;
      height: 233.34px;
      position: absolute;
      top: 100px;
      right: -70px;
    }

    .cookie-4 {
      width: 250px;
      height: 247px;
      left: -120px;
      bottom: 35px;
      position: absolute;
    }

  }


}

.descr {
  //background-color: #EADFC9;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 128px;
  .descr_block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-right: 42px;
    &--title {
      font-family: 'Gilroy Bold';
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 46px;
      color: #171219;
      margin-bottom: 24px;
      width: 100%;
    }

    &--desc {
      font-family: 'Gilroy R';
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0.01em;
      color: #171219;
    }

    .characteristics {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 24px;

      .items {
        flex: 25%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .item {
          & p:first-child {
            font-family: 'Gilroy M';
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 40px;
            letter-spacing: 0.04em;
            color: #171219;
          }

          & p:last-child {
            font-family: 'Gilroy R';
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: 0.01em;
            color: #171219;
          }
          span {
            font-family: 'Gilroy M';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 40px;
            letter-spacing: .04em;
            color: #171219;
          }
        }

      }
    }

  }

  .descr_image {
    width: 100%;
    max-width: 588px;
    height: 100%;
    max-height: 588px;
    object-position: center;
    object-fit: cover;
  }

}

.interesting {
  position: relative;

  .cookie-3 {
    width: 250px;
    height: 247px;
    position: absolute;
    bottom: -70px;
    left: -125px;
    z-index: 1;
    transform: rotate(171.45deg);
  }
  .cookie-2 {
    width: 297.78px;
    height: 184.79px;
    position: absolute;
    right: -50px;
    bottom: -90px;
    z-index: 2;
    transform: rotate(46deg);
  }

}

.information {
  position: relative;

  .cookie-2 {
    width: 297.78px;
    height: 184.79px;
    position: absolute;
    left: -95px;
    bottom: 92px;
    z-index: 2;
    transform: rotate(-60.9deg);
  }

}

.buy_online {
  width: 100%;
  //background-color: #F7ECD5;

  .buy {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 128px 0;
    //border-bottom: 1px solid rgba(23, 18, 25, 0.1);

    h3 {
      font-family: 'Gilroy Bold';
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 46px;
      text-align: center;
      color: #171219;
      margin-bottom: 24px;
    }

    .buy_desc {
      font-family: 'Gilroy R';
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0.01em;
      color: #171219;
      margin-bottom: 32px;
    }
    .links_shop {
      display: flex;
      align-items: center;
      & .shop:first-child {
        margin-right: 24px;
      }
    }

  }

}

.shop_block {
  width: 100%;
  //background-color: #EADFC9;
  padding-bottom: 128px;
  overflow: hidden;
  h3 {
    font-family: 'Gilroy Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 46px;
    color: #171219;
    margin-bottom: 48px;
  }
  &.padding {
    padding-bottom: 260px;
  }
}

.shop_block--content {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  //min-height: 600px;
  overflow: hidden;

  .news_tab {
    flex: 1;
    background-color: #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 3;
    &--head {
      padding: 24px 0 24px 24px;
      border-bottom: 1px solid rgba(23, 18, 25, 0.1);
      margin-bottom: 8px;
      display: flex;
      .tabs {
        display: flex;
        align-items: center;
        justify-content: center;
        .tab {
          font-family: 'Gilroy R';
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 22px;
          letter-spacing: 0.01em;
          color: rgba(23, 18, 25, 0.8);
          margin-right: 32px;
          white-space: nowrap;
          transition: .3s;
          &.active {
            color: #171219;
            position: relative;
            transition: .3s;
            &:before {
              content: '';
              width: 100%;
              height: 2px;
              background-color: #D1C7B4;
              position: absolute;
              bottom: -24px;
              left: 0;
              border-top-left-radius: 4px;
              border-top-right-radius: 4px;
              //transform: translateX(-50%);
            }
          }
        }
        & .tab:last-child {
          margin-right: 24px;
        }
      }
    }

    &--body {
      display: none;
      padding-left: 24px;
      align-items: flex-start;
      flex-direction: column;
      max-height: 640px;
      min-height: 640px;
      overflow: auto;
      &::-webkit-scrollbar {
        display: none;
      }
      &.show {
        display: flex;
      }

      .city_item {
        border: none;
        background-color: transparent;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        min-height: 64px;
        .name {
          font-family: 'Gilroy R';
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 19px;
          letter-spacing: -0.011px;
          color: #171219;
        }
        .address {
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 14px;
          letter-spacing: -0.011px;
          color: #171219;
          opacity: 0.8;
        }
      }

    }

  }

  .map {
    flex: 2;
    z-index: 3;
    //background: red;
    //height: 719px;
    display: none;
    opacity: 0;
    max-height: 718px!important;
    &.active {
      display: block;
      opacity: 1;
    }
  }

  .cookie-3 {
    width: 248px;
    height: 233.34px;
    position: absolute;
    bottom: -125px;
    right: -195px;
    z-index: 1;
  }
  .cookie-1 {
    width: 246.35px;
    height: 190.64px;
    position: absolute;
    top: 125px;
    left: -90px;
    z-index: 2;
  }
}

//mobile select city block
.shop_block--mobile {
  width: 100%;
  align-items: flex-start;
  flex-direction: column;
  display: none;
  .mobile_head--name {
    font-family: 'Gilroy R';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: #171219;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    background-color: #fff;
    border-bottom: 1px solid  rgba(23, 18, 25, 0.1);
    cursor: pointer;
    position: relative;
    transition: .3s;
    img {
      object-fit: contain;
      width: 11px;
      height: 5.5px;
      transform: rotate(0deg);
      transition: .3s;
      &.rotate{
        transform: rotate(180deg);
      }

    }
    .city_list {
      position: absolute;
      left: 0;
      top: 40px;
      width: 100%;
      padding: 16px 0;
      display: none;
      flex-direction: column;
      z-index: 20;
      overflow: hidden;
      background-color: #fff;
      max-height: none;
      opacity: 0;
      transition: .3s;
      box-shadow: 0px 14px 13px -7px rgba(0,0,0,0.75);
      &::-webkit-scrollbar {
        display: none;
      }
      .city_item {
        border: none;
        background-color: #fff;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        padding: 0 16px;
        width: 100%;
        min-height: 64px;
        .name {
          font-family: 'Gilroy R';
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 19px;
          letter-spacing: -0.011px;
          color: #171219;
        }
        .address {
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 14px;
          letter-spacing: -0.011px;
          color: #171219;
          opacity: 0.8;
        }
      }
      //&.show {
      //  display: flex;
      //  max-height: 416px;
      //  opacity: 1;
      //  overflow: auto;
      //  min-height: 416px;
      //}
    }
    &.show {
      .city_list {
        display: flex;
        max-height: 416px;
        opacity: 1;
        overflow: auto;
        min-height: 416px;
      }
    }
  }
}

// maps
.ymaps-2-1-78-map {
  height: 718px!important;
  width: 100%!important;
  max-height: 718px!important;
}
//.ymaps-2-1-78-inner-panes {
//  border-top-right-radius: 10px!important;
//  border-bottom-right-radius: 10px!important;
//}

// Receipt modal

.receipt_modal--overlay {
  //position: absolute;
  //top: 0;
  //left: 0;
  //width: 100%;
  //background-color: #fff;
  //height: fit-content;
  //min-height: 100vh;
  padding: 90px;
  z-index: 30;
  .close {
    background-color: rgba(23, 18, 25, 0.1);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    position: absolute;
    right: 23px;
    top: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    img {
      width: 24px;
      height: 24px;
    }
  }

  .modal_title {
    font-family: 'Gilroy Bold';
    margin-bottom: 32px;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    padding-right: 42px;
    color: #171219;
  }
  .small_title {
    font-family: 'Gilroy Bold';
    margin-bottom: 16px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #171219;
  }
  .receipt_list {
    padding-right: 42px;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
  }
  .receipt_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 48px;
    border-bottom: 1px solid rgba(23, 18, 25, 0.1);
    .name {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.01em;
      color: #171219;
    }
    .quantity {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.01em;
      color: #171219;
      text-align: right;
    }

  }

  .modal__image {
    width: 100%;
    max-width: 600px;
    max-height: 600px;
    min-height: 300px;
    height: 100%;
    object-fit: cover;
    margin: 0 auto;
    display: flex;
    object-position: center;
  }

  .desc {
    font-family: "Gilroy R";
    margin: 48px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #171219;
  }
  .main_list {
    padding-right: 42px;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    .receipt_item {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      width: 100%;
      min-height: 56px;
      margin-bottom: 24px;
      border: none;
      .name {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.01em;
        color: #171219;
      }
      .number {
        width: 28px;
        height: 28px;
        min-width: 28px;
        border-radius: 50%;
        background-color: #E8E8E8;
        margin-right: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
          font-family: 'Gilroy Bold';
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 28px;
          letter-spacing: 0.01em;
          color: #171219;
        }
      }

    }
  }

  &.show {
    display: block;
  }

}
